@use "../../partials/colors"as*;

.saved-worship-office {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    &__link {
        position: relative;
        flex-basis: 30%;
        text-align: center;
        padding: 2rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        border: 2px solid $wine-red;
        text-decoration: none;
        color: $wine-red;
        align-items: center;
        &:hover {
            border: 2px solid $wine-red;
            transition: .2s;
            transform: translateY(.5rem);
            background-color: $wine-red;
        }
    }
    &__bottom {
        width: 100%;
        padding: .75rem 1.5rem;
        background-color: $golden;
    }
    &__date {
        font-weight: 600;
        align-self: flex-start;
        background-color: $golden;
        color: $wine-red;
        padding: 1.5rem 1rem;
        border-radius: 50%;
        position: absolute;
        top: -1rem;
        left: -1.5rem;
    }
    &__title {
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-size: 1rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
}