@use "../../partials/colors"as*;

.saved-community-news {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__single {
        position: relative;
        border: 4px solid $wine-red;
        border-bottom: none;
        &:last-child {
            border-bottom: 4px solid $wine-red;
        }
    }
    &__link {
        padding: 1rem;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: flex-start;
        cursor: pointer; 
        text-decoration: none;
        color: $wine-red;
        &:hover {
            background-color: $golden;
        }
    }
    &__left {
        width: 21rem;
        height: 12rem;
        overflow: hidden;
    }
    &__text {
        flex-basis: 60%;
        margin: 0 auto;
    }
    &__title {
        padding: 0;
        margin: 0 0 1rem 0;
        text-decoration: none;
        background-color: $golden;
        padding: 1rem;
        font-size: 1.25rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    &__content {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    &__delete {
        background-color: $golden;
        border: none;  
        padding: .5rem;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
        &:hover {
            scale: 1.2;
            background-color: $beige;
        }
        &:active {
            scale: .95;
        }
    }
    &__icon {
        width: 1.5rem;
    }
}