@use "../../partials/colors"as*;

.saved-community-news {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__left {
        padding: 0 1rem;
        margin-right: 2rem;
    }
    &__link {
        padding: 1rem 1rem .5rem 0;
        width: 100%;
        text-align: center;
        display: flex;
        cursor: pointer;
        border: 4px solid $wine-red;
        border-bottom: none;
        text-decoration: none;
        color: $wine-red;
        align-items: center;
        &:last-child {
            border-bottom: 4px solid $wine-red;
        }
        &:hover {
            transition: .2s;
            scale: 1.01;
            background-color: $golden;
            border-bottom: 4px solid $wine-red;
        }
        
    }
    &__title {
        padding: 0;
        margin: 0;
        text-decoration: none;
        background-color: $golden;
        padding: 1rem;
        font-size: 1.25rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    &__content {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}