@use "../../partials/colors"as*;

.saved-obituaries {
    padding: 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3rem;
    &__icon {
        height: 3rem;
        
    }
    &__link {
        padding: 2rem;
        width: 30%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        border: 4px solid black;
        text-decoration: none;
        color: $wine-red;
        align-items: center;
        background-color: white;
        &:hover {
            transition: .2s;
            scale: 1.05;
        }
    }
    &__title {
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-size: 1.25rem;
        color: black;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    &__content {
        overflow: hidden;
        color: black;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}