@use "../../partials/colors"as*;

.saved-obituaries {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    &__link {
        padding: 2rem;
        width: 33%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: pointer;
        border: 4px solid $wine-red;
        text-decoration: none;
        color: $wine-red;
        align-items: center;
        background-color: white;
        &:hover {
            transition: .2s;
            scale: 1.01;
            background-color: $golden;
        }
    }
    &__title {
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-size: 1.25rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    &__content {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}