@use "../../partials/colors" as*;

.calendar-single {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: $wine-red;

    &__column {
        flex-basis: 40%;
        padding: 0 .5rem;

        &--small {
            flex-basis: 10%;
            background-color: $wine-red;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__expand {
        width: 100%;
        background-color: $wine-red;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $golden;

        &:hover {
            background-color: $golden;
            color: $wine-red;
        }
    }

    &__chevron {
        fill: $beige;
    }

    &__date {
        font-weight: 600;
        font-size: 1.25rem;
        text-align: center;
        color: $beige;
        width: 100%;
        padding: .5rem 1rem;
    }

    &__title {
        margin: 0;
        font-size: 1.25rem;

        &--contained {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }
}