@use "../../partials/colors"as*;

.saved-weekly-announcements {
    &__link {
        padding: 1rem;
        display: flex;
        cursor: pointer;
        border: 4px solid $wine-red;
        border-bottom: none;
        text-decoration: none;
        color: $wine-red;
        gap: 2rem;
        align-items: center;
        &:hover {
            background-color: $golden;
            transition: .2s;
            transform: translateY(.5rem);
            border: 4px solid $wine-red;
        }
    }
    &__date {
        font-weight: 600;
        border-right: 4px solid $wine-red;
        padding-right: 2rem;
        min-width: 8rem;
    }
    &__title {
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-size: 1rem;
    }
}