@use "../../partials/colors"as*;
.single-event {
    width: 100%;
    position: relative;
    &:hover {
        background-color: $golden;
        transition: .2s;
        transform: translateY(.5rem);
    }
&__link {
    width: 100%;
    cursor: pointer;
    border: 4px solid $wine-red;
    text-decoration: none;
    color: $wine-red;
    display: flex;
    flex-wrap: wrap;
    min-height: 10rem;
}
&__date {
    font-weight: 600;
    font-size: 1.25rem;
    background-color: $wine-red;
    color: $beige;
    width: 100%;
    max-height: 3rem;
    padding: .5rem 1rem;
}
&__title {
    margin: 0 1rem;
    font-size: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
}