@use "../../partials/colors"as*;
.community-news-page {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    &__link {
        text-decoration: none;
        text-align: center;
        margin: 1rem auto 2rem auto;
        padding: .5rem 2rem;
        background-color: $wine-red;
        color: $beige;
        border-radius: 4px;
        border: 4px solid $wine-red;
        font-size: 1.25rem;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: $wine-red;
            background-color: $golden;
        }
    }
    }